.cards {
    height: 285px;
    width: 275px;
    border-radius: 20px;
}
.cards.Work {
    background-color: rgb(255, 139, 100);
}
.cards.Play {
    background-color: rgb(86, 194, 230);
}
.cards.Study {
    background-color: rgb(255, 94, 125);
}
.cards.Exercise {
    background-color: rgb(74, 207, 133);
}
.cards.Social {
    background-color: rgb(114, 53, 209);
}
.cards.Selfcare {
    background-color: rgb(241, 199, 91);
}
.cardsColor {
    height: 50px;
    position: relative;
}
.cardsColor img {
    position: absolute;
    top: 0px;
    right: 20px;
    z-index: 1;
}
.cardsInfos {
    background-color: rgb(29, 32, 75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    height: calc(100% - 49px);
    border-radius: 20px;
    position: relative;
    z-index: 2;
    transition: 0.3s ease;
    cursor: pointer;
}
.cardInfos.light {
    background-color: rgb(189, 193, 255)
}
.cardsInfos:hover {
    background-color: rgb(52, 57, 123);
}
.cardsInfosTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.cardsInfosTop.light {
    color: rgb(15, 20, 36);
}
.cardsInfosTop img {
    cursor: pointer;
}
.cardsInfosBot {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
}
.currentHours {
    color: white;
    font-size: 3.5rem;
    font-weight: 300;
    margin-top: 25px;
    transition: 0.3s ease;
}
.currentHours.light {
    color: rgb(15, 20, 36);
}
.previousHours {
    color: rgb(189, 193, 255);
    font-weight: 400;
    transition: 0.3s ease;
}
.previousHours.light {
    color: rgb(40, 44, 104);
}
